bin/
Properties/
obj/
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/PictureManagerApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/PictureManagerApp.csproj.AssemblyReference.cache
